.success_wrapper {
    // height: calc(100vh - 48px);
    margin: 0 auto;
    max-width: 1340px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

.img {
    img {
        height: 100px;
        width: 125px;
    }
}

.text_div {
    margin: 10px 0 17px;
    font-size: 18px; 
    text-align: center;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .mainbut {
        font-size: 18px;
        padding: 9px 14px;
        border: none;
        border-radius: 20px;
        background-color: #ff5925;
        color: #ffffff;
        cursor: pointer;
        transition-duration: 100ms;

        &:hover {
            background-color: #e65225;
        }
    }
}


.null_orders {
    max-width: 1315px;
    margin: 0 auto;
    height: calc(100vh - 62px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.null_text {
    text-align: center;
    margin-bottom: 25px;
}