.pizza_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    

    @media screen and (min-width:426px) and (max-width:768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    @media screen and (min-width:0px) and (max-width:1348px) {

    }

}



.pizza_title {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 30px;

    @media screen and (min-width:0px) and (max-width:1348px) {
        margin: 30px 15px 20px;
    }
}