.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 20px 0;
}

.drink_title {
    font-size: 35px;
    margin-left: 10px;
}

.drink_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    max-width: 1350px;

    @media screen and (min-width:0px) and (max-width:1157px) {
        grid-template-columns: repeat(3, 1fr);
    }
    // @media screen and (min-width:572px) and (max-width:881px) {
    //     grid-template-columns: repeat(2, 1fr);
    // }
    // @media screen and (min-width:0px) and (max-width:571px) {
    //     grid-template-columns: repeat(1, 1fr);
    // }
}

