.rootCartItem {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 10px;
    border-top: 1px #e6e6e66c solid;
    padding-top: 17px;
    margin-top: 17px;

}

.rootCartItem_blur {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-bottom: 10px;
    border-top: 1px #e6e6e66c solid;
    padding-top: 17px;
    margin-top: 17px;
    filter: blur(2px);
}


.photoAndTitle {
    display: flex;
    .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
            width: 80px;
            height: 80px;
        }
    }

    .titleAndSize {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;

        .title {
            font-size: 19px;
            font-weight: 700;
            color: rgb(52, 184, 40);
        }

        .size {
            font-size: 15px;
        }
    }
}
.rightItems {
    display: flex;
    .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 110px;
        div {
            font-size: 20px;
        }
        .btn {
            width: 32px;
            height: 32px;
            min-width: 32px;
            min-height: 32px;
            background-color: #ffffff;
            border: 2px #FF5925 solid;
            padding: 2px 9px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            svg {
                fill: #EB5A1E;
            }
            &:hover {
                background-color: #FF5925;
                transition-duration: 200ms; 
                svg {
                    fill: #ffffff;
                }
            }
        }
        .btnMinusOne {
            width: 32px;
            height: 32px;
            min-width: 32px;
            min-height: 32px;
            background-color: #ffffff;
            border: 2px #9b9b9bd2 solid;
            padding: 2px 9px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            
            svg {
                fill: #9b9b9bd2;
            }
        }
    }
    .priceAndRemove {
        display: flex;
        align-items: center;
        justify-content: center;
        .price {
            display: flex;
            justify-content: flex-end;
            font-size: 17px;
            font-weight: 400;
            margin: 0 20px;
            width: 90px;
        }
        .removeItem {
            button {
            min-width: 32px;
            min-height: 32px;
            background-color: #ffffff;
            border: 2px #c9c9c9 solid;
            padding: 2px 9px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                rotate: 45deg;
                path{
                    fill: #c9c9c9;
                } 
            }
            &:hover {
                background-color: #c9c9c9;
                cursor: pointer;
                transition-duration: 200ms; 

                svg {
                    path {
                        fill: #ffffff;
                    }
                }
            }
            }
        }
    }
}
