
.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.cart_button {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: rgb(6 5 50 / 25%) 0px 4px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    .cart_img {
        position: relative;
        top: 2px;
        right: 2px;
    }

    .cart_count {
        position: absolute;
        top: 0px;
        left: 38px;
        background-color: #f85d2d;
        border-radius: 15px;

        min-width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            padding: 1px;
            font-size: 10px;
            color: #ffffff;
        }
    }
}