.rootCartItem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-top: 8px rgb(243, 243, 247) solid;
    padding-top: 17px;

}

.rootCartItem_blur {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-top: 8px rgb(243, 243, 247) solid;
    padding-top: 17px;

    filter: blur(2px);
}


.photoAndTitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .leftItem {
        display: flex;
        margin-left: 20px;
                   
        .img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                width: 80px;
                height: 80px;
            }
        }
    
        .titleAndDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10px;
    
            .title {
                font-size: 16px;
                font-weight: 700;
            }
    
            .description {
                font-size: 13px;
            }
        }
    }
    .removeItem {
        margin-right: 10px;
        button {
        min-width: 32px;
        min-height: 32px;
        background-color: #ffffff;
        border: 2px #c9c9c9 solid;
        padding: 2px 9px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            rotate: 45deg;
            path{
                fill: #c9c9c9;
            } 
        }
        &:hover {
            background-color: #c9c9c9;
            cursor: pointer;
            transition-duration: 200ms; 
            svg {
                path {
                    fill: #ffffff;
                }
            }
        }
        }
    }
}


.rightElements {
    display: flex;
    .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        div {
            font-size: 20px;
        }
    }
    .priceAndRemove {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column-reverse;
        .price {
            display: flex;
            justify-content: flex-end;
            font-size: 17px;
            font-weight: 500;
            margin: 0 20px;
            width: 90px;
        }
        .removeItem {
            padding-right: 19px;
            button {
            min-width: 32px;
            min-height: 32px;
            background-color: #ffffff;
            border: 2px #c9c9c9 solid;
            padding: 2px 9px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                rotate: 45deg;
                path{
                    fill: #c9c9c9;
                } 
            }
            &:hover {
                background-color: #c9c9c9;
                cursor: pointer;
                transition-duration: 200ms; 

                svg {
                    path {
                        fill: #ffffff;
                    }
                }
            }
            }
        }
    }
}
