.rootCart {
    width: 100%;
    // margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    .titleClear {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 10px;

        .titleCart {
            font-size: 32px;
            font-weight: 700;
            display: flex;

            align-items: flex-end;
        }

        .clearCart {
            display: flex;
            color: #B6B6B6;
            cursor: pointer;

            div {
                margin-left: 3px;
            }

            svg {
                stroke: #B6B6B6;
            }

            &:hover {
                color: #585858;
                transition-duration: 300ms;
                svg {
                    stroke: #585858;
                    transition-duration: 300ms;
                }
            }
        }
    }

    .promocode {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-top: 1px rgba(230, 230, 230, 0.4235294118) solid;
        padding-top: 17px;
        margin-top: 17px;

        .div_message {
            display: flex;
            align-items: center;
            margin-right: 10px;
            .promocode_message {
                font-size: 12px;
                color: rgb(134, 134, 134);
    
                &_success {
                    
                    font-size: 12px;
                    color: rgb(53, 189, 41);
                }
    
                &_error {
                    font-size: 12px;
                    color: rgb(224, 44, 44);
                }
            }

        }


        .div_input {
            margin-right: 10px;


            .promocode_input {
                border: 1px #B6B6B6 solid;
                border-radius: 15px;
                padding: 10px 16px;
                font-size: 15px;

                &_success {
                    border: 1px solid rgba(53, 189, 41, 0.322);
                    background-color: rgba(53, 189, 41, 0.1);
                    border-radius: 15px;
                    padding: 10px 16px;
                    font-size: 15px;
                }

                &_error {
                    border: 1px solid rgba(231, 43, 43, 0.493);
                    background-color: rgb(231, 43, 43, 0.1);
                    border-radius: 15px;
                    padding: 10px 16px;
                    font-size: 15px;
                }
                
            }
        }

        .promocode_button {
            display: flex;
            align-items: center;

            cursor: pointer;

            button {
                border: none;
                background-color: #ffffff;

                color: #FF5925;
                font-weight: 700;
                font-size: 17px;

                cursor: pointer;
            
                &:hover {
                    color: #dd4314;
                }
            }

        }
    }

    .allCountAndSum {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        font-size: 18px;
        margin: 20px 0;

        .allCount {
            font-weight: 500;
            span {
                font-weight: 600;
            }
        }

        .totalPrice {
            font-weight: 500;
            .sum_span {
                color: #ec3801;

                &_applied {
                    color: rgb(29, 185, 15);
                }
            }
        }
    }

    .backAndPay {
        display: flex;
        justify-content: space-between;
        width: 100%;



        .firstBtn {
            color:#B6B6B6;
            background-color: #ffffff;
            border: 1px #B6B6B6 solid;
            border-radius: 25px;
            padding: 9px 14px;
            transition-duration: 150ms;
            font-size: 17px;


            display: flex;
            align-items: center;

            cursor: pointer;

            div {
                padding-left: 10px;
            }

            &:hover {
                color:#3b3b3b;
                background-color: #ffffff;
                border: 1px #3b3b3b solid;

                svg {
                    path {
                        stroke:#3b3b3b;
                    }
                }
            }
        }

        .secondBtn {
            color:#ffffff;
            background-color: #ff5925;
            border: none;
            border-radius: 25px;
            padding: 9px 14px;
            transition-duration: 150ms;

            font-size: 17px;

            cursor: pointer;

            &:hover {
                background-color: #ec3801;
            }
        }
    }
}


.root_empty {
    display: flex;
    justify-content: center;

    .empty_wrapper {
        margin: 80px;
        width: 490px;

        .empty_img {
            img {
                height: 400px;
            }   
        }

        .empty_bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            .empty_title {
                font-size: 35px;
                font-weight: 700;
            }

            .empty_description{ 
                margin-top: 15px;
                text-align: center;
                font-weight: 500;
            }
        }
    }
}