.item_pizza {
    width: 300px;
    height: 450;
}

.photo {
    width: 100%;
    display: flex;
    img {
        margin: auto;
        width: 300px;
        &:hover {
            transform: translate(0, 3px);
            transition-duration: 200ms; 
        }
    }
}

.text {

}

.title {
    margin-top: 21px;
    div {
        font-weight: 400;
        font-size: 20px;
    }
}

.description {
    margin-top: 7px;
    div {
        font-weight: 300;
        font-size: 14px;
    }
}

.item_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 55px;
}

.price {
    div {
        font-weight: 400;
        font-size: 20px;
    }
}

.button {
    margin-left: 25px;

    button {
        padding: 6px 18px 8px;
        border-radius: 35px;
        background-color: #fce9d7;
        font-size: 18px;
        border: none;
        color: #AE4625;
        &:hover {
                cursor: pointer;
                background-color: #ffd0a3;
                transition-duration: 300ms; 
        }
    }
}