* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  box-sizing: border-box;
  text-decoration: none;
}

.noWorkContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noWorInfo {
  text-align: center;
  
}
