.sort {
    position: relative;
    margin-right: 20px;
    
    .sort_label {
        display: flex;
        align-items: center;
        
        b {
          margin-right: 8px;
        }
      
        span {
          color: #FF5925;
          border-bottom: 1px dashed #FF5925;
          cursor: pointer;
        }
    }
  
    .sort_popup {
        position: absolute;
        right: 0;
        margin-top: 15px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;

        .popup {
            ul {
                overflow: hidden;
                li {
                    padding: 12px 20px;
                    cursor: pointer;
                    
                    &.active,
                    &:hover {
                        background: rgba(254, 95, 30, 0.05);
                    }
                  
                    &active {
                        font-weight: bold;
                        color: #FF5925;
                    }
                }
            }
        }
    }
}